*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

h2 {
  margin: 0 0 20px;

  font-size: 30px;
  line-height: 42px;
}

.btn {
  display: inline-block;
  padding: 14px 35px;

  font-weight: 700;
  color: #fff;

  background: #000;
  border: none;
  text-transform: uppercase;

  cursor: pointer;
}

.visually-hidden {
	position: absolute;
	width: 1px; 
	height: 1px; 
	padding: 0;
	
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip: rect(1px 1px 1px 1px);
	
	overflow: hidden;
} 

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.page {
  font: {
    family: "PT Sans Narrow", sans-serif;
    size: 14px;
    weight: 700;
  }
  line-height: 24px;
  color: #fff;

  background: url("../img/index-bg.jpg");
  text-transform: uppercase;

  &__header {

    &--inner {
      display: flex;
      flex-direction: column;
    }
  }

}

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    background-color: #000;

    .container {
      display: flex;
      justify-content: space-between;
    }
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;

    list-style: none;
    
    &--site {
      width: 640px;
    }

    &--user {
      justify-content: flex-end;
      width: 140px;
    }
  }

  &__link {
    display: block;
    
    font-size: 16px;
    line-height: 20px;
    color: #fff;

    padding: 25px 20px;
  }

  &__logo {
    order: 1;
  }

}

.features {
  color: #f7f4f1;

  &__list {
    display: flex;

  }
  
  &__item {
    width: 300px;
  }

  .item-features {
    text-align: center;
  
    &__title {
      font-size: 30px;
      line-height: 42px;
    }
    
    &__descr {
      padding: 0 10px;
    }
  
  }
}

.sections-wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;

  color: #000;
  
  background: #fff url("../img/white-bg.png");
  background-size: 50px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 8px;
    height: 280px;

    background: url("../img/news-gallery-stroke.png") no-repeat;

    transform: translate(-50%, -50%);
  }
}

.news {
  flex-basis: 50%;

  &__list {
    margin-bottom: 30px;
  }

  &__item {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__descr {
    max-width: 380px;
    padding-right: 10px;
    margin: 0;
  }

  &__date {
    text-transform: none;
  }

}

.gallery {
  flex-basis: 50%;
  max-width: 300px;  

  &__slider {
    padding-top: 10px;
    margin-bottom: 45px;
  }

  &__btn-wrapper {
    display: flex;

    .btn {
      min-width: 140px;

      &:first-child {
        margin-right: 20px;
      }
    }
  }

}