img {
  width: 100%;
  height: auto; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
  overflow: hidden; }

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto; }

.page {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  background: url("../img/index-bg.jpg");
  text-transform: uppercase; }
  .page__header--inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .main-nav__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
    background-color: #000; }
    .main-nav__wrapper .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none; }
    .main-nav__list--site {
      width: 640px; }
    .main-nav__list--user {
      width: 140px; }
  .main-nav__link {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    padding: 25px 20px; }
  .main-nav__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

.features {
  color: #f7f4f1; }
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .features__item {
    width: 300px; }

.item-features {
  text-align: center; }
  .item-features__title {
    font-size: 30px;
    line-height: 42px; }
  .item-features__descr {
    padding: 0 10px; }
